<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>店铺列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
     <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/pc.css">
    
</head>
<body>

<div class="layui-fluid child-body">
    <div class="layui-row">
    <table width="100%" border="0">
  <tr>
    <td> <div class="layui-btn-group">
                   <button class="layui-btn layui-btn-sm layui-btn-danger" id="delete-all-btn"><i class="layui-icon">&#xe640;</i>批量删除</button>
                  <button class="layui-btn layui-btn-sm layui-btn-primary"  onclick="javascript:window.location.href='/store_add'"    ><i class="layui-icon">&#xe641;</i>添加店铺</button>
 
      </div></td>
    <td align="right">	<div class="demoTable">
  <div class="layui-inline">
    <input class="layui-input" name="id" id="keywords" placeholder="店铺名" autocomplete="off">
  </div>
  <button class="layui-btn" data-type="reload" onclick="doSearch()">搜索</button>
</div></td>
  </tr>
</table>

           
     
	
          
  </div> 
    

</div>

 
<table id="laytable" lay-filter="list"></table>
 
 
<script type="text/html" id="operate">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger  layui-btn-normal" lay-event="delete">删除</a>

 </script>
 
 
<script type="text/template" id="editFormTpl">
    <form class="layui-form edit-form">
        <input type="hidden" name="id">
     <div class="layui-form-item">
            <label class="layui-form-label">店铺名</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required"   autocomplete="off" class="layui-input">
            </div>
        </div>

     <div class="layui-form-item">
            <label class="layui-form-label">店铺地址</label>
            <div class="layui-input-block">
                <input type="text" name="addr" lay-verify="required"   autocomplete="off" class="layui-input">
            </div>
        </div>



    <div class="layui-form-item">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-block">

                <input type="text" name="date" lay-verify="required"   autocomplete="off" class="layui-input">
            </div>
        </div>

  
                <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="editForm">确定</button>
            </div>
        </div>
    </form>
</script>
 
 
 
     

<script src="layui/layui.all.js"></script>
<script src="js/pc.min.js"></script>

<script>
editItem=null
 table.render({
    elem: '#laytable', //指定原始表格元素选择器（推荐id选择器）
    cols: [
        [ //标题栏
            { checkbox: true },
            { field: 'id', title: 'ID', width: 80 },
             { field: 'name', title: '店铺名称' ,width:250},
 		     { field: 'addr', title: '店铺地址' ,width:150},
             {field:'date', title: '创建时间' ,width:250},
               {fixed: 'right',title: '操作' ,width:250 ,  align:'center', toolbar: '#operate'}
        ]
    ],
 
    url: '/store/doStoreObject',
    id: 'laytable'
})

      function doSearch() {
	var keywords = $('#keywords');
	   //执行重载
    table.reload('laytable', {
      page: {
        curr: 1 //重新从第 1 页开始
      }
      ,where: {
        key:    keywords.val()
        
      }
    }, 'data');
	
}
 
  
  //监听状态操作
  form.on('switch(ZtDemo)', function(obj){
 if (obj.elem.checked)
	{  doStatus(this.value,0); }
else
	{ doStatus(this.value,1); }
 
   });
  
  

table.on('tool(list)', function(obj) {
    var data = obj.data
     if (obj.event === 'delete') {
        deleteObject([data.id],function () {
            obj.del()
        })
        
         
    } else if (obj.event === 'edit') {
        editItem=obj
        layer.open({
            type: 1,

            title:'修改店铺',
            move:false,
            resize:false,
            area:'400px',
            shadeClose: true, //点击遮罩关闭
            content: $('#editFormTpl').html(),
            success: function(layero, index){
                layero.find('input[name="name"]').val(data.name)
                layero.find('input[name="addr"]').val(data.addr)
                layero.find('input[name="id"]').val(data.id)
                layero.find('input[name="date"]').val(data.date)
          

              }
        })
    }  
 
	
})

top.layui.form.on("submit(editForm)", function(data) {
    $.ajax({
        url: '/store/doUpdateObject',
        data: data.field,
        success: function(response) {
            if (response.code == 0)
            {  
            	   success(response.msg);
 	              location.href="/store_list" ;
                
            }else if (response.code==1) {
                error(response.msg)
            }
        }
    })
    return false
})

  
  


function deleteObject (id,callback) {
  $.ajax({
      url: "/store/doDeleteObject",
      data: { id:id.toString() },
      success: function(response) {
          if (response.code == 0) {
              success(response.msg,callback)
          } else if (response.code==1) {
              error(response.msg)
          }
      }
  })
}


 




$('#delete-all-btn').on('click', function() {
    var checkStatus = table.checkStatus('laytable')
    var data = checkStatus.data
    
    if (data.length) {
      var id=data.map(function(item) {return parseInt(item.id)})
      deleteObject(id,function () {
          table.reload('laytable')
      })
    }
})

 
 

 


function money_format (str) {
    if(!/\./.test(str)) str += '.00'
    str += '00'
    str = str.match(/\d+\.\d{2}/)[0]
    return str
}
</script>
 </body>
</html>