<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gl.pj.sys.dao.GlStoreDao">


<delete id="deleteStore">
delete from gl_store where id  in  
 <foreach collection="ids"  
                open="("
                close=")"
                separator=","
                item="id">
               #{id}
       </foreach>
</delete>


<select id="findStoreCount" resultType="int">
select count(*) from gl_store   
  <include refid="likeusername"/>
</select>  
 

<select id="findStoreAll" resultType="com.gl.pojo.sys.entity.GlStore">
select * from gl_store   
  <include refid="likeusername"/>
</select>  


 
<sql id="likeusername">
<where>
<if test="storename !=null and  storename !=''">
name like concat("%",#{storename},"%")   
</if>
</where>
</sql>


</mapper>